@model IReadThai.Models.ThaiModels.ParaInfo
<div class="jumbotron">
    <h1>THAI TEST BED</h1>
    <form>
        <input type="text" value="2280" id="tbParaID" /> - 
        <button>Fetch Paragraph</button> <br />
        <audio controls id="audioPlayer">
            <source src="@Model.soundUrl" type="audio/mpeg">
        </audio>
    </form>
</div>
<h2>
    @Html.Raw(ViewBag.Text)
</h2>
<div class="row">
</div>
